<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <div>
            <div><table ng-table="tableParams" class="table" show-filter="true">
                    <tr ng-repeat="person in $data">
                        <td style="width: 5%" title="'ID'" filter="{ id: 'number'}" sortable="'id'">
                            {{person.id}}</td>
                        <td style="width: 5%" title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                            {{person.age}}</td>
                        <td style="width: 5%" title="'Eye Color'" filter="{ eyeColor: 'text'}" sortable="'eyeColor'">
                            {{person.eyeColor}}</td>
                        <td style="width: 10%" title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                            {{person.name}}</td>
                        <td style="width: 12%" title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                            {{person.email}}</td>
                        <td style="width: 10%" title="'Friends'" filter="{ id: 'number'}" >
                    <uib-accordion style="alignment-adjust: auto" >
                        <uib-accordion-group class="" heading="Friends" ng-repeat="friend in person.friends">
                            <dl class="dl-horizontal" >
                                <dt>Friend ID:</dt>
                                <dd>{{friend.id}}</dd>
                                <dt>Friend Name:</dt>
                                <dd>{{friend.name}}</dd>
                                <dt>Friend Age:</dt>
                                <dd>{{friend.age}}</dd>
                                <dt>Friend Eye Color:</dt>
                                <dd>{{friend.eyeColor}}</dd>
                                <dt>Friend Email:</dt>
                                <dd>{{friend.email}}</dd>
                            </dl>
                        </uib-accordion-group>
                    </uib-accordion></td>

                    </tr>

                </table>
            </div>
            <a href='index.html'>Back</a>

        </div>
        
    </body>
</html>
